# Configuración General del Proyecto
PROJECT_NAME=
VERSION=
DESCRIPTION=
ENVIRONMENT=

# Configuración del Servidor
HOST=
PORT=
DEBUG=
WORKERS=

# Configuración de API y Seguridad
API_V1_STR=

# Configuracion autenticacion
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=
VERIFY_SSL=

# Configuración de CORS para el frontend
BACKEND_CORS_ORIGINS=

# Configuración de MariaDB
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_HOST=
MARIADB_PORT=
MARIADB_DATABASE=
DATABASE_POOL_SIZE=
DATABASE_MAX_OVERFLOW=
DATABASE_URL=mysql+pymysql://${MARIADB_USER}:${MARIADB_PASSWORD}@${MARIADB_HOST}:${MARIADB_PORT}/${MARIADB_DATABASE}

# Configuración de Archivos y Almacenamiento
UPLOAD_FOLDER=
LOGOS_FOLDER=
COTIZACIONES_FOLDER=
MAX_CONTENT_LENGTH=
ALLOWED_EXTENSIONS=
IMAGE_EXTENSIONS=
CERTIFICATE_EXTENSION=
PRIVATE_KEY_EXTENSION=
TEMP_DIR=
